<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.project_manager.BackLogMapper">
    <select id="getMaxBacklogNo" resultType="Integer">
        select max(bl_no)
        from backlog
        where project_id = #{project_id}
    </select>

    <insert id="createBacklog" parameterType="BacklogDTO">
        insert into backlog(bl_no, project_id, bl_title, bl_content, bl_writer, assigned_user)
        values (#{bl_no}, #{project_id}, #{bl_title}, #{bl_content}, #{bl_writer}, #{assigned_user})
    </insert>

    <select id="getBackLogList" resultType="java.util.HashMap">
       select bl_no, bl_title, bl_writer, story_point, project_key, backlog_status.bl_status, backlog.sprint_year, backlog.sprint_no
        from backlog join project
        on backlog.project_id = project.project_id
        left join backlog_status
        on backlog.status_id = backlog_status.status_id
        where backlog.project_id= #{project_id}
    </select>

    <update id="updateBacklog">
        update backlog
        <choose>
            <when test="bl_title== null">
                set sprint_no = #{sprint_no}, sprint_year = #{sprint_year}
            </when>
            <otherwise>
                set bl_title = #{bl_title},bl_content = #{bl_content},assigned_user = #{assigned_user},story_point =
                #{story_point},status_id = #{status_id}
            </otherwise>
        </choose>
        where project_id = #{project_id}
        and bl_no = #{bl_no}
    </update>
    
    <update id="updateStatus" >
        update backlog
        set status_id = #{status_id}
        where project_id = #{project_id}
        and sprint_year = #{sprint_year}
        and sprint_no = #{sprint_no}
    </update>

    <select id="includeSprintBacklogList" resultType="BacklogDTO">
      select bl_no, bl_title, bl_writer, assigned_user, story_point, backlog.status_id
        from backlog
        left join backlog_status
        on backlog.status_id = backlog_status.status_id
        where (sprint_year,sprint_no,project_id) IN (
        select sprint_year,sprint_no,project_id
        from sprint
        where project_id =#{project_id}
        and sprint_status = "OPEN")
    </select>

    <select id="getBacklogStatus" resultType="java.util.HashMap">
        select * from backlog_status
    </select>
</mapper>
