<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.project_manager.ProjectMapper">
    <select id="getProjectList" resultType="java.util.HashMap" parameterType="String">
        select project_name , project_key,user_id as project_manager ,project_content
        from project JOIN project_user
        ON project.project_id = project_user.project_id
        where project_user.user_id = #{user_id}
        and project_user.project_position ="팀장"
    </select>

    <insert id="createProject" parameterType="ProjectDTO" useGeneratedKeys= "true" keyProperty="project_id">
        insert into project(project_name,project_key, project_content)
        values(#{project_name},#{project_key}, #{project_content})
    </insert>
    
    <insert id="insertProjectUser" parameterType="ProjectUserDTO">
        insert into project_user(project_id, user_id, project_position, authority)
        values(#{project_id}, #{user_id}, #{project_position}, #{authority})
    </insert>

    <select id="checkDuplicatedProjectName" resultType="int" parameterType="java.util.HashMap">
        select count(*) from
          project JOIN project_user
            ON project.project_id = project_user.project_id
            where project_user.user_id = #{user_id}
            and project.project_name =#{project_name}
    </select>

    <select id="checkDuplicatedProjectKEY" resultType="int" parameterType="java.util.HashMap">
        select count(*) from
          project JOIN project_user
            ON project.project_id = project_user.project_id
            where project_user.user_id = #{user_id}
            and project.project_key =#{project_key}
    </select>
</mapper>
