<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.project_manager.SprintMapper">
    <select id="getNewSprintTitle" resultType="java.util.HashMap">
        select sprint_year, max(sprint_no) + 1 as sprint_no
        from sprint left join project
        on sprint.project_id = project.project_id
        where sprint_year = YEAR(now())
        and sprint.project_id = #{project_id}
    </select>

    <select id="getSprintNameList" resultType="java.util.HashMap">
        select sprint_year, sprint_no,sprint_status ,project_name
        from sprint left join project
        on sprint.project_id = project.project_id
        where sprint.project_id = #{project_id}
    </select>

    <select id="getOpenedSprintData" resultType="java.util.HashMap">
       select sprint_year, sprint_no, sprint_goal, project_name, start_date, end_date
        from sprint join project
        ON sprint.project_id = project.project_id
        where sprint.project_id = #{project_id}
        and sprint.sprint_status =  "OPEN"
    </select>

    <insert id="createSprint" parameterType="SprintDTO">
        INSERT INTO sprint(sprint_year, sprint_no, sprint_goal, project_id)
        VALUES (#{sprint_year},#{sprint_no},#{sprint_goal}, #{project_id})
    </insert>

    <update id="updateSprint" parameterType="SprintDTO">
      update sprint
      set sprint_goal = #{sprint_goal}, start_date = #{start_date}, end_date = #{end_date} ,sprint_status = #{sprint_status}
        where project_id = #{project_id}
        and sprint_year = #{sprint_year}
        and sprint_no = #{sprint_no}
    </update>


</mapper>
