.alert-div{
    height: 25px;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.alert-div > .alert-danger{
    margin-top: 3px;
    padding: 3px;
    display: none;
    -webkit-animation:blink 1s ease-in-out alternate;
    -moz-animation:blink 1s ease-in-out alternate;
    animation:blink 1s ease-in-out alternate;
}

.empty_row {
    text-align: center;
    border: 1px solid #c0c0c0;
    border-top: 0px;
    margin-top: -2px;
    line-height: 33px;
    height: 33px;
    background-color: #fafafa;
}

.grid{
    margin-top: 10px;
}
.grid tr:first-child td{
    font-weight: bold;
    margin-top: 10px;
    text-align:center;
}

.alert-banner{
    position: relative;
    z-index: 2;
}

.overlap{
    position: relative; !important;
    top:-50px;
    z-index: 1;
}